# pymysql
- 파이썬에서 MySQL, MariaDB DBMS와 연동하는 다양한 함수를 제공하는 모듈
- Python [DB API 2.0](http://www.python.org/dev/peps/pep-0249) 표준을 따른다.
- https://github.com/PyMySQL/PyMySQL/
- https://pymysql.readthedocs.io/en/latest/

In [1]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 6.1 MB/s eta 0:00:011
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0

# 설치
- 조건
    - python version 3.6 이상
    - mysql version 5.6 이상
- 설치
    - `pip install PyMySQL`
    - `conda install -c conda-forge pymysql`

# 기본 작성 절차

1. Database 연결
    ```python
       connection =  pymysql.connect(host="DBMS 서버 ip", 
                                     port="port번호", 
                                     user="계정명", 
                                     password="비밀번호", 
                                     db="연결할데이터베이스이름", 
                                     charset='utf8')
    ```
    - port 번호 기본값: 3306
2. Connection을 이용해 Cursor 생성
    - Cursor: 연결된 Database에 sql문을 전송하고 select결과 조회 기능을 제공하는 객체
    ```python
        cursor = connection.cursor()
    ```
3. Cusror를 이용해 SQL문 전송
    ```python
        cursor.execute("sql문")
    ```
4. 연결 닫기
    - cursor, connection 연결을 닫는다.
    - with문을 이용할 수 있다. 
    ```python
    cursor.close()
    connection.close()
    ```

# 예제

## 테이블 생성

In [7]:
create_sql = '''
create table member(
    id int primary key auto_increment,
    name varchar(30) not null,
    email varchar(30) not null unique,
    tall decimal(5, 2),
    birthday date,
    created_at datetime
)
'''

In [1]:
import pymysql
# 1. DB 연결
conn = pymysql.connect(host='127.0.0.1',  # DBMS의 ip주소
                       port=3306,         # port 번호
                       user='playdata',   # username
                       password='1111',   # password
                       db='testdb'        # 연결할 database(schema) 이름
                      )
print(type(conn))

<class 'pymysql.connections.Connection'>

In [2]:
# 2. connection으로 부터 cursor 객체 생성
## cursor: SQL문을 DB에 전송 그 결과를 받아주는 객체 -> sql 전송 메소드를 제공
cursor = conn.cursor()
print(type(cursor))

<class 'pymysql.cursors.Cursor'>

In [8]:
# 3. sql 전송
cursor.execute(create_sql)  # return -> sql이 적용된 데이터 개수

0

In [9]:
# 4. 연결 닫기 -> cursor, connection
cursor.close()
conn.close()

## DML
### insert

In [14]:
sql = "insert into member (name, email, tall, birthday, created_at) values ('홍길동', 'a@a.com', 175.23,'2000-10-10', now())"

# \를 사용해서 두 줄로 작성
# sql = "insert into member (name, email, tall, birthdat, created_at) \
# values ('홍길동', 'a@a.com', 175.23,'2000-10-10', now())"

with pymysql.connect(host='127.0.0.1', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql)
        print('insert된 행수:',cnt)
        conn.commit() # insert, delete, update 처리 후 commit()을 해야 적용

insert된 행수: 1

### Parameterized Query
- Parameterized Query
    - SQL 문에서 컬럼 값이 들어가는 자리에 값대신 `%s` placeholder를 사용한뒤 execute()에서 placeholder에 넣을 값을 tuple, list로 제공한다.
    - query문을 쉽게 작성할 수 있는 장점이 있다.

In [15]:
sql_template = "insert into member (name, email, tall, birthday, created_at) values (%s, %s, %s, %s, now())"

with pymysql.connect(host='127.0.0.1', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql_template, ('유재석', 'abc@abc.com', 182.54, '2000-10-20'))
        print(cnt)
        conn.commit()

1

### Parameterized Query를 이용해 여러개 행 insert

#### for문 사용

In [19]:
from datetime import date, datetime
date(2000, 2, 3)
datetime(2000, 2, 3, 10, 20, 30)
datetime.now()

datetime.datetime(2023, 9, 8, 17, 29, 40, 559626)

In [21]:
from datetime import date, datetime
# python: datetime.date - sql: date
# datetime.time - sql: time
# datetime.datetime - sql: datetime, timestamp
datas = [
    ['name1', 'abc1@abc.com', 165, date(2000,1,12)],
    ['name2', 'def1@abc.com', 175, date(1995,12,20)],
    ['name3', 'ghi1@abc.com', 185, date(1988, 7, 21)]
]

sql_template = "insert into member (name, email, tall, birthday, created_at) values (%s, %s, %s, %s, now())"

with pymysql.connect(host='127.0.0.1', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = 0
        for data in datas:
            i = cursor.execute(sql_template, data)  # placeholder에 넣을 값들은 tuple이나 list에 넣거 제공
            cnt += i
        print('insert된 행수:', cnt)
        conn.commit()

insert된 행수: 3

#### executemany() 사용
- insert할 값들을 가진 리스트를 넣어 한번에 여러 행을 insert한다.

In [ ]:
datas = [
    ['이름1', 'abc2@a.com', 165, date(2000,1,12), datetime.now()],
    ['이름2', 'def2@a.com', 175, date(1995,12,20), datetime.now()],
    ['이름1', 'ghi2@a.com', 185, date(1988, 7, 21), datetime.now()]
]

In [32]:
# python: datetime.date - sql: date
# datetime.time - sql: time
# datetime.datetime - sql: datetime, timestamp
datas = [
    ['name1', 'abc2@abc.com', 165, date(2000,1,12)],
    ['name2', 'def3@abc.com', 175, date(1995,12,20)],
    ['name3', 'ghi3@abc.com', 185, date(1988, 7, 21)]
]

sql_template = "insert into member (name, email, tall, birthday, created_at) values (%s, %s, %s, %s, now())"

with pymysql.connect(host='127.0.0.1', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        try:
            cnt = cursor.executemany(sql_template, datas)
            print('inset 개수', cnt)
            conn.commit()
        except Exception as e:
            print('예외발생 ', e)
            conn.rollback()

inset 개수 3

### update/delete
- 코딩 절차는 insert 와 동일

In [4]:
update_sql = 'update member set tall=tall+10 where id = %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(update_sql, [2])
        print(cnt)
        conn.commit()

1

In [5]:
update_sql = 'update member set tall=tall+10 where tall < %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(update_sql, [170])  # list대신 tuple을 사용하는 경우: (170, ) -> 값 하나인 경우 쉼표 필수!
        print(cnt)
        conn.commit()

2

In [7]:
delete_sql = 'delete from member where id = %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(delete_sql, [2])
        print(cnt)
        conn.commit()

1

## select (DQL - Data Query Language)
- 조회결과 조회
    - cursor.execute("select문") 실행 후 cursor의 결과 조회 메소드(fetch메소드)를 이용해 결과를 받는다.
- fetch메소드
    - **fetchall()**
        - 조회한 모든 행을을 반환
    - **fetchmany(size=개수)**
        - 지정한 size개수 만큼 반환
    - **fetchone()**
        - 조회결과 중 첫번째 행만 반환
        - 주로 pk 동등 조건으로 조회한 경우 사용

### fetchall()

In [11]:
import pymysql
from pprint import pprint # 자료구조(list, tuple, dict, set)을 가독성 좋게 출력

In [40]:
sql = 'select * from member where name like %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        # select를 실행결과(Result Set)는 cursor의 속성으로 저장
        cursor.execute(sql, ['%1'])  # %s가 하나일 경우 상수로 전달 가능
        # cursor가 가진 조회결과 조회
        result = cursor.fetchall()

print(result)
# (
#     (컬럼1, 컬럼2, ...),  # 한 행의 결과
#     (), ...
# )  # 전체 결과를 묶은 tuple

((7, 'name1', 'abc1@abc.com', Decimal('175.00'), datetime.date(2000, 1, 12), datetime.datetime(2023, 9, 8, 17, 35, 11)), (10, 'name1', 'abc2@abc.com', Decimal('175.00'), datetime.date(2000, 1, 12), datetime.datetime(2023, 9, 8, 17, 45, 1)))

In [41]:
pprint(result)

((7,
  'name1',
  'abc1@abc.com',
  Decimal('175.00'),
  datetime.date(2000, 1, 12),
  datetime.datetime(2023, 9, 8, 17, 35, 11)),
 (10,
  'name1',
  'abc2@abc.com',
  Decimal('175.00'),
  datetime.date(2000, 1, 12),
  datetime.datetime(2023, 9, 8, 17, 45, 1)))

In [42]:
def show_result(result):
    for idx, row in enumerate(result, start=1):
        m_id, name, email, tall, bd, jd = row
        print(f"{idx}. id: {m_id}, 이름: {name}, email: {email}, 키: {tall}, 생일: {bd}, 가입일: {jd}")

In [43]:
show_result(result)

1. id: 7, 이름: name1, email: abc1@abc.com, 키: 175.00, 생일: 2000-01-12, 가입일: 2023-09-08 17:35:11
2. id: 10, 이름: name1, email: abc2@abc.com, 키: 175.00, 생일: 2000-01-12, 가입일: 2023-09-08 17:45:01

In [26]:
tall = float(input('조회할 키:'))
sql = 'select * from member where tall > %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql, [tall])
        result = cursor.fetchall()
        print(len(result), cnt)

if cnt == 0:
    print('조회결과 없음')
else:
    show_result(result)

조회할 키:180
3 3
1. id: 3, 이름: 유재석, email: abc@abc.com, 키: 182.54, 생일: 2000-10-20, 가입일: 2023-09-08 17:26:07
2. id: 9, 이름: name3, email: ghi1@abc.com, 키: 185.00, 생일: 1988-07-21, 가입일: 2023-09-08 17:35:11
3. id: 12, 이름: name3, email: ghi3@abc.com, 키: 185.00, 생일: 1988-07-21, 가입일: 2023-09-08 17:45:01

In [44]:
#### 한행의 조회결과를 DICTIONARY로 반환
# [dict1, dict2, dict3, ...]: 리스트: 전체 resultset을 묶어줌, dict: 한 행을 묶어줌
# key: 컬럼명, value: 그컬럼의 조회값
# cursorclass=pymysql.cursors.DictCursor: 조회행을 dictionary로 반환
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb', cursorclass=pymysql.cursors.DictCursor) as conn:
    with conn.cursor() as cursor:
#         print(type(cursor))
        cnt = cursor.execute('select * from member')
        print('조회행수:', cnt)
        result = cursor.fetchall()

조회행수: 7

In [47]:
pprint(result)

[{'birthday': datetime.date(2000, 10, 20),
  'created_at': datetime.datetime(2023, 9, 8, 17, 26, 7),
  'email': 'abc@abc.com',
  'id': 3,
  'name': '유재석',
  'tall': Decimal('182.54')},
 {'birthday': datetime.date(2000, 1, 12),
  'created_at': datetime.datetime(2023, 9, 8, 17, 35, 11),
  'email': 'abc1@abc.com',
  'id': 7,
  'name': 'name1',
  'tall': Decimal('175.00')},
 {'birthday': datetime.date(1995, 12, 20),
  'created_at': datetime.datetime(2023, 9, 8, 17, 35, 11),
  'email': 'def1@abc.com',
  'id': 8,
  'name': 'name2',
  'tall': Decimal('175.00')},
 {'birthday': datetime.date(1988, 7, 21),
  'created_at': datetime.datetime(2023, 9, 8, 17, 35, 11),
  'email': 'ghi1@abc.com',
  'id': 9,
  'name': 'name3',
  'tall': Decimal('185.00')},
 {'birthday': datetime.date(2000, 1, 12),
  'created_at': datetime.datetime(2023, 9, 8, 17, 45, 1),
  'email': 'abc2@abc.com',
  'id': 10,
  'name': 'name1',
  'tall': Decimal('175.00')},
 {'birthday': datetime.date(1995, 12, 20),
  'created_at': datetime.datetime(2023, 9, 8, 17, 45, 1),
  'email': 'def3@abc.com',
  'id': 11,
  'name': 'name2',
  'tall': Decimal('175.00')},
 {'birthday': datetime.date(1988, 7, 21),
  'created_at': datetime.datetime(2023, 9, 8, 17, 45, 1),
  'email': 'ghi3@abc.com',
  'id': 12,
  'name': 'name3',
  'tall': Decimal('185.00')}]

### fetchone()

In [53]:
# PK를 이용해서 조회할 때 사용 (조회결과가 한 행일때 사용)
sql = 'select * from member where id = %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql, [3])
        print(cnt)
        result = cursor.fetchone()

1

In [55]:
result

(3, '유재석', 'abc@abc.com', Decimal('182.54'), datetime.date(2000, 10, 20), datetime.datetime(2023, 9, 8, 17, 26, 7))

In [56]:
sql = 'select name, email from member where id = %s'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql, [3])
        print(cnt)
        result = cursor.fetchone()  # select 결과가 여러행일 경우에 첫번째 행만 반환
        print(result)

1
('유재석', 'abc@abc.com')

### fetchmany()

In [60]:
sql = 'select name, email from member'
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute(sql)
        print(cnt)
        result = cursor.fetchmany(size=3)  # size 행만큼만 조회
        pprint(result)

7
(('유재석', 'abc@abc.com'), ('name1', 'abc1@abc.com'), ('name2', 'def1@abc.com'))

### cursor 는 iterable 타입
- for문에 select 실행한 cursor를 사용하면 조회결과를 한 행씩 조회할 수 있다.

In [ ]:
# cursor(select 실행후)는 Iterable 타입 => for in에 직접 넣어서 순환조회 가능
with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb', cursorclass=pymysql.cursors.DictCursor) as conn:
    with conn.cursor() as cursor:
        cnt = cursor.execute('select * from member')
        print('조회행수:', cnt)
        result = cursor.fetchall()
        for row in cursor:
            print(row)

# TODO

다음 함수들을 구현하시오.   
각 함수들은 member 테이블과 관련해서 CRUD를 처리하는 함수들 입니다.

1. name, email, tall, birthday를 매개변수로 받아서 insert하는 함수. (id는 자동증가, created_at은 실행시점의 일시가 insert되도록 한다.)
2. id, name, email, tall, birthday를 매개변수로 받아서 id의 member의 나머지 정보를 update하는 함수. (created_at은 update하지 않는다.)
3. id를 매개변수로 받아서 그 member 를 삭제하는 함수.
4. 이름을 매개변수로 받아서 그 이름의 member를 삭제하는 함수.
5. id를 매개변수로 받아서 그 id의 회원 정보를 조회하여 반환하는 함수.
6. name을 매개변수로 받아서 그 이름이 들어간 회원의 정보를 조회하여 반환하는 함수.
7. birthday를 매개변수로 받아서 그 생일의 회원의 정보를 조회하여 반환하는 함수.
8. tall 값을 두개 받아서 그 범위의 tall인 회원들의 정보를 조회하여 반환하는 함수.


- insert, update, delete 는 적용된 행의 개수를 반환한다.
- select 처리 함수는 조회결과를 반환한다.

In [106]:
import os
os.makedirs('dao', exist_ok=True)

In [ ]:
# dao 모듈 - Data Access Object: sql문을 실행하는 함수/메소드들로 구성된 모듈

In [107]:
%%writefile  dao/member_dao.py

import pymysql
from datetime import datetime, date
def insert_member(name:str, email:str, tall:float, birthday:datetime.date) -> int:
    '''
    회원정보를 insert하는 함수
    [parameter]
    [return]
        int: insert된 행수
    [exception]
    '''
    sql='insert into member (name, email, tall, birthday, created_at) values (%s, %s, %s, %s, now())'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cursor.execute(sql, [name, email, tall, birthday])
            conn.commit()
            return cnt

def update_member(id, name, email, tall, birthday):
    '''
    ID의 회원의 name, email, tall, birthday를 update
    [return]
        int: update된 행수
    '''
    sql = 'update member set name = %s, email = %s, tall = %s, birthday = %s where id = %s'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cnt = cursor.execute(sql, [name, email, tall, birthday, id])
            conn.commit()
            return cnt
    
def delete_member_by_id(id):
    '''
    ID의 회원정보를 delete
    [return]
        int: 삭제한 행수
    '''
    sql = 'delete from member where id = %s'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cnt = cursor.execute(sql, (id, ))
            conn.commit()
            return cnt
        
def delete_member_by_name(name):
    '''
    ID의 회원정보를 delete
    [return]
        int: 삭제한 행수
    '''
    sql = 'delete from member where name = %s'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cnt = cursor.execute(sql, (name, ))
            conn.commit()
            return cnt

def select_member_by_id(id):
    '''
    ID로 회원정보 조회
    [return]
        tuple: 조회한 결과
    '''
    sql = 'select * from member where id = %s'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cursor.execute(sql, [id])
            # pk 조회 -> 결과행: 0, 1
            return cursor.fetchone()  # 1행: tuple, 0행 None

def select_member_by_name(name):
    '''
    이름으로 회원정보 조회
    [return]
        tuple: 조회한 결과
    '''
    sql = 'select * from member where name like %s'
    name = f'%{name}%'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cursor.execute(sql, [name])
            return cursor.fetchall() 

def select_member_by_birthday(birthday=None):
    """
    생일로 회원정를 조회.
    [parameter]
        birthday: date - 조회할 생일. None: 생일이 null인 행을 조회
    [return]
        tuple: 조회한 결과
    """
    sql = "select * from member where birthday {}"
    if birthday is None: #null인 것 조회
        sql = sql.format("is null")
    else:
        sql = sql.format("= %s")
    
    with pymysql.connect(host="localhost", port=3306, user='root', password="1111", db='testdb') as conn:
        with conn.cursor() as cursor:
            if birthday is None:
                cursor.execute(sql) # birthday is null
            else:
                cursor.execute(sql, birthday) #birthday = %s
            return cursor.fetchall()
        
def select_member_by_tall_range(start_tall, end_tall):
    '''
    키의 범위로 회원정보 조회
    [parameter]
        start_tall: float
        end_tall: float
            start_tall <= tall <= end_tall 범위의 회원을 조회
    '''    
    sql = 'select * from member where tall between %s and %s'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cursor.execute(sql, [start_tall, end_tall])
            return cursor.fetchall()
        
def select_all_member():
    sql = 'select * from member order by id desc'
    with pymysql.connect(host='localhost', port=3306, user='playdata', password='1111', db='testdb') as conn:
        with conn.cursor() as cursor:
            cursor.execute(sql)
            return cursor.fetchall()

Writing dao/member_dao.py

In [71]:
# 테스트
cnt = insert_member('박명수', 'a@a.com', 169.23, date(1999,10,27))
print(cnt)

In [78]:
cnt = update_member(14, '박명수', 'bbccc@a.com', 169.23, date(1999,10,27)) # email만 변경
print(cnt)

1

In [80]:
# 이름, 이메일, 키, 생일 변경
cnt = update_member(10, '유관순', 'a4@sdf.com', 185.00, date(2010,10,1))
cnt

1

In [84]:
# 삭제 - id
delete_member_by_id(3)
# 삭제 - name
delete_member_by_name('name2')

2

In [87]:
print(select_member_by_id(14))
print(select_member_by_id(1))

(14, '박명수', 'bbccc@a.com', Decimal('169.23'), datetime.date(1999, 10, 27), None)
None

In [91]:
print(select_member_by_name('유'))

((10, '유관순', 'a4@sdf.com', Decimal('185.00'), datetime.date(2010, 10, 1), datetime.datetime(2023, 9, 8, 17, 45, 1)),)

In [99]:
select_member_by_birthday('2010-10-01')

TypeError: not all arguments converted during string formatting

In [101]:
select_member_by_tall_range(170, 180)

((7, 'name1', 'abc1@abc.com', Decimal('175.00'), datetime.date(2000, 1, 12), datetime.datetime(2023, 9, 8, 17, 35, 11)),)

In [102]:
select_member_by_tall_range(170, 190)

((7, 'name1', 'abc1@abc.com', Decimal('175.00'), datetime.date(2000, 1, 12), datetime.datetime(2023, 9, 8, 17, 35, 11)), (9, 'name3', 'ghi1@abc.com', Decimal('185.00'), datetime.date(1988, 7, 21), datetime.datetime(2023, 9, 8, 17, 35, 11)), (10, '유관순', 'a4@sdf.com', Decimal('185.00'), datetime.date(2010, 10, 1), datetime.datetime(2023, 9, 8, 17, 45, 1)), (12, 'name3', 'ghi3@abc.com', Decimal('185.00'), datetime.date(1988, 7, 21), datetime.datetime(2023, 9, 8, 17, 45, 1)))

In [105]:
select_all_member()

((14, '박명수', 'bbccc@a.com', Decimal('169.23'), datetime.date(1999, 10, 27), None), (12, 'name3', 'ghi3@abc.com', Decimal('185.00'), datetime.date(1988, 7, 21), datetime.datetime(2023, 9, 8, 17, 45, 1)), (10, '유관순', 'a4@sdf.com', Decimal('185.00'), datetime.date(2010, 10, 1), datetime.datetime(2023, 9, 8, 17, 45, 1)), (9, 'name3', 'ghi1@abc.com', Decimal('185.00'), datetime.date(1988, 7, 21), datetime.datetime(2023, 9, 8, 17, 35, 11)), (7, 'name1', 'abc1@abc.com', Decimal('175.00'), datetime.date(2000, 1, 12), datetime.datetime(2023, 9, 8, 17, 35, 11)))

# TODO
- hr database의 emp 테이블의 데이터를 다루는 함수들을 구현

1. 직원 정보들(emp의 컬럼들)을 매개변수로 받아 insert 하는 함수

2. 수정할 직원 정보들을 매개변수로 받아 받은 emp_id의 직원의 나머지 컬럼값들을 수정하는 함수

3. emp_id를 매개변수로 받아 그 직원을 삭제하는 함수

4. job을 매개변수로 받아 그 업무를 하는 직원들을 삭제하는 함수

5. 전체 직원정보를 모두 조회해서 반환하는 함수

6. emp_id를 매개변수로 받아 그 직원 정보를 조회해서 반환하는 함수

7. dept_name을 매개변수로 받아서 그 부서에 소속된 직원들의 정보를 조회해서 반환하는 함수

8. salary 범위를 매개변수로 받아 그 범위의 salary를 받는 직원들의 정보를 조회해서 반환하는 함수

9. emp_id를 매개변수로 받아서 그 직원의 커미션이 얼마인지를(salary * comm_pct) 조회해 반환하는 함수

10. dept_name을 매개변수로 받아서 부서별 급여 통계정보(합계, 최대, 최소, 평균, 표준편차)를 반환하는 함수