### 파이썬 시작하기 (001 ~ 010)

In [1]:
# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.

print('Hello World')

Hello World

In [2]:
# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [1]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [2]:
# 004 print 기초
# 화면에 C:\Windows를 출력하세요.

print('C:\\Windows')

C:\Windows

In [4]:
# 005 print 탭과 줄바꿈
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \t: tab역할
# \n: enter역할

안녕하세요.
만나서		반갑습니다.

In [5]:
# 006 print 여러 데이터 출력
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

# 오늘은 일요일

오늘은 일요일

In [6]:
# 007 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print('naver;kakao;sk;samsug')

naver;kakao;sk;samsug

In [8]:
# 008 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [10]:
# 009 print 줄바꿈
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
# (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print("first");print("second")

print('first', end = ' ')
print('second', end = ' ')

first second

In [11]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

### 파이썬 변수 (011 ~ 020)

In [12]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung = 50000
print(samsung*10)

500000

In [13]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79

market_cap = 298000000000000
current_price = 50000
PER = 15.79

print(market_cap, type(market_cap))
print(current_price, type(current_price))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [14]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.
# 실행 예:
# hello! python

strs = s + '! ' + t
print(strs)

hello! python

In [16]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.
2 + 2 * 3 

# 8

8

In [17]:
# 015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"

print(type(a))

<class 'str'>

In [18]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

str_to_int = int(num_str)
print(str_to_int, type(str_to_int))

720 <class 'int'>

In [20]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.
num = 100

num_to_str = str(num)
print(num_to_str, type(num_to_str))

100 <class 'str'>

In [21]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

float_str = '15.79'
float_str_to_float = float(float_str)
print(float_str_to_float, type(float_str_to_float))

15.79 <class 'float'>

In [23]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"

year_num = int(year)

for i in range(3):
    print(year_num + i)

2020
2021
2022

In [25]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_price = 48584
month = 36
total = month_price * month
print(f'{total}원')

1749024원

### 파이썬 문자열 (021 ~ 050)

In [26]:
# 021 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
# 실행 예
# p t

print(letters[0], letters[2])

p t

In [27]:
# 022 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
# 실행 예: 2210

print(license_plate[-4:])

2210

In [28]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀

print(string[::2])

홀홀홀

In [29]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
# 실행 예:
# NOHTYP

print(string[-1::-1])

NOHTYP

In [30]:
# 025 문자열 치환
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222

phonenumber = phone_number.replace('-', ' ')
print(phonenumber)

010 1111 2222

In [31]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# 실행 예
# 01011112222

pn = phone_number.replace('-', '')
print(pn)

01011112222

In [32]:
# 027 문자열 다루기
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
# 실행 예:
# kr

print(url.split('.')[1])

kr

In [34]:
# 028 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'p'
print(lang)

# 문자열은 immuntable하기 때문에 값을 변경할 수 없으므로 에러가 발생한다.

TypeError: 'str' object does not support item assignment

In [35]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A

print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [38]:
# 030 replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b', 'B')
print(string)

# abcd 
# string은 immuntable하기 때문에 값 변경 X
# 값을 변경하고 싶다면 변경한 값을 다른 변수에 저장
# new_str = string.replace('b', 'B')
# print(new_str)

abcd

In [39]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)

# 34
# string 에서 +는 두 문자열의 연결을 의미

34

In [40]:
# 032 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

# HiHiHi
# string에서 *는 문자열을 n번 연결하겠다는 의미

HiHiHi

In [41]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.
# 실행 예:
# --------------------------------------------------------------------------------

print('-' * 80)

--------------------------------------------------------------------------------

In [44]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# 실행 예:
# python java python java python java python java

t3 = t1 + ' ' + t2 + ' '
t4 = t3 * 4
print(t4)

python java python java python java python java

In [48]:
# 035 문자열 출력
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
# 036 문자열 출력
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

In [54]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

s = 상장주식수.replace(',', '')
i = int(s)
print(i, type(i))

5969782550 <class 'int'>

In [55]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

2020/03

In [56]:
# 040 strip 메서드
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "

data_strip = data.strip()
print(data_strip, len(data_strip))

삼성전자 4

In [58]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

up = ticker.upper()
print(up)

BTC_KRW

In [59]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"

low = ticker.lower()
print(low)

btc_krw

In [60]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

s = 'hello'
capital = s.capitalize()
print(capital)

Hello

In [61]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"

print('xlsx로 끝납니다.' if file_name.endswith('xlsx') else 'xlsx로 끝나지 않습니다.')

xlsx로 끝납니다.

In [65]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"

print('xlsx 또는 xls로 끝납니다.' if file_name.endswith('xls') or file_name.endswith('xlsx') else 'xlsx 또는 xls로 끝나지 않습니다.')

xlsx 또는 xls로 끝납니다.

In [66]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"

print('2020으로 시작합니다.' if file_name.startswith('2020') else '2020으로 시작하지 않습니다.')

2020으로 시작합니다.

In [67]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"

a_split = a.split()
print(a_split)

['hello', 'world']

In [68]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

ticker_split = ticker.split('_')
print(ticker_split)

['btc', 'krw']

In [71]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"

date_split = date.split('-')
print(f'연도: {date_split[0]}, 월: {date_split[1]}, 일: {date_split[2]}')

연도: 2020, 월: 05, 일: 01

In [72]:
# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "

print(data, len(data))
data_rstrip = data.rstrip()
print(data_rstrip, len(data_rstrip))

039490      11
039490 6