# 변수와 함수/연산자

<strong style='color:red;font-size:1.5em'>프로그램이 하는 일</strong>
<p>
<span style="font-size:1.2em">- 정보(데이터)를 처리한다.</span>

- <b style='font-size:1.2em'>정보(데이터)</b>: **변수(Variable)와 값(Value)** 로 프로그램에 표현한다.
- <b style='font-size:1.2em'>처리한다</b>: **연산자(Operator)와 함수(Function)** 으로 프로그램에 표현한다.
    
> 표현식(Expression)
>    - 값(Value)으로 평가되는 구문(Statement)를 말한다.
>    - **표현식의 두가지**
>        - 평가(eval)되어 새로운 값을 생성하는 모든 경우.
>            - 연산: 10 + 10
>            - 변수 호출
>            - 함수 호출
>        - **리터럴(Literal)**: 표현식 자체가 값인 경우
>             - 10, 20.56, "A"
>

# 변수 (Variable)
- 값을 저장하는 메모리 공간
- 하나의 변수는 하나의 값만 가질 수 있다.
    - 하나의 변수에 여러개의 값을 저장해야 하는 경우 객체나 자료구조를 이용해 값들을 묶어서 저장한다.
- 이 메모리 공간은 이름(변수이름)으로 관리된다.
    - 각 메모리 공간은 주소를 가지지만 프로그램 상에서 직접 그 주소를 사용할 수 없다. 대신 **식별자(Identifier)** 라고 하는 이름을 사용해 메모리 공간의 접근할 수 있다.
    - 변수 이름(식별자)는 거기에 저장될 값의 의미를 알수 있도록 만든다.
    
## 변수 선언및 초기화
- 변수명 = 값
    - 변수는 반드시 선언하면서 값을 대입 해야 한다.
    - 선언시 대입할 값이 없으면 None을 대입 (`name = None`)

  
### 식별자 규칙과 변수이름 주는 관례

#### 식별자 규칙
- 식별자란 파이썬에서 사용하는 것들을 구분하기 위해 주는 이름을 말한다. 
- 사용할 수 있는 문자는 **일반 문자**(영어 알파벳 뿐 만 아니라 한글 한자 등 모든 일반 문자를 사용할 수 있다.), **숫자, 특수 문자는  _(underscore) 만** 가능.
- 숫자는 **두번째 글자** 부터 사용할 수 있다.
- **예약어(keyword, reserved word)**는 사용할 수 없다.
- 대소문자를 구별한다.

> <b style='font-size:1.2em'>파이썬 키워드</b>
> ```python
> False      await      else       import     pass
> None       break      except     in         raise
> True       class      finally    is         return
> and        continue   for        lambda     try
> as         def        from       nonlocal   while
> assert     del        global     not        with
> async      elif       if         or         yield
> ```

#### 변수이름 관례
- 모든 글자를 소문자로 한다.
- 여러단어를 조합할 경우 `_` 로 구분한다.
    - 이런 표기법을 **스네이크 표기법** 이라고 한다.
- 예: `name`, `age`, `customer_name`, `product_id`, `sale_price`

In [1]:
# 주석

In [2]:
# name 변수를 생성
# 문자열 '홍길동'을 저장 => 변수에 값을 저장: 할당, 대입(assign)
# 변수를 생성하고 처음 값을 대입 => 초기화
name = '홍길동'
age = 30

In [4]:
print(name) # name값을 출력 => 변수에 할당된 값을 출력
print(age) # age값을 출력
print(age + 2)

홍길동
30
32

In [5]:
age = 40 # 기본 변수에 값을 할당 => 변경
print(name)
print(age)

홍길동
40

In [8]:
# 식별자 규칙
이름 = '유재석'
print(이름)
name1 = '홍길동'
name2 = '유재석'
name3 = '박명수'
print(name1)
print(name2)
print(name3)

유재석
홍길동
유재석
박명수

In [14]:
# 1name = '이름'  # 변수명 -> 숫자는 두번째 글자부터 가능
# member$id = 'abcde'  # 특수문자는 _ 만 가능
member_id = 'abcde'  # ctrl + / (주석 toggle)
# False = 'aaaa'  # 예약어는 변수명으로 사용 못함
print(member_ID)  # 대소문자 구분

NameError: name 'member_ID' is not defined

In [15]:
# 스네이크 표기법 - python
member_name = '홍길동'
member_age = 30
member_address = '서울'

In [16]:
# 카멜 표기법 - C, JAVA
memberName = '홍길동'
memberAge = 30
memberAddress = '서울'

> **print()함수**
> - ( ) 안에 전달해주는 값(Argument)을 문자열로 변환 후 화면(Teminal)에 출력하는 함수
>     - 값에 엔터를 붙인뒤 출력한다.
> - 여러개의 값을 출력할 경우 나열해서 전달하면 된다.
> - 여러개의 값을 출력할 경우 구분자는 공백을 기본값으로 한다. 다른 구분자를 사용할 경우 `sep=구분자문자열`를 전달한다.
> - 뒤에 엔터 대신 다른 값을 붙일 경우 `end=붙일문자열` 을 전달한다.

In [27]:
print(name1, name2, name3, 30, 40, '안녕', sep=', ')

홍길동, 유재석, 박명수, 30, 40, 안녕

In [23]:
print(10, end='\t')  # \t: tab  
print(20)  # 값 + enter
print(30)

10	20
30

In [29]:
# 마지막 값만 출력, 다 출력하고 싶은 경우 print 이용
name1
name2
name3

'박명수'

## 변수 사용
- 변수를 사용하는 것은 변수에 값을 변경(대입)과 변수가 가진 값을 조회하는 두가지가 있다.

### 변수에 값 대입/할당 (assignment)
1. 변수명 = 값
    - `=`을 기준으로 왼쪽은 변수, 오른쪽은 대입할 값
    - 대입할 값으로 다음이 올 수 있다.
        - Literal 값(값 표현식)
        - 다른 변수
        - 연산식
    - 변수 초기화와 변수값 변경의 파이썬 구문은 동일하다. 변수를 처음 만들고 값을 대입하면 초기화이고 그 이후 할당하는 것들은 변경이 된다.

2. 여러 변수에 동일 한 값 대입
    - a = b = c = 30

3. 여러 변수에 다른 값 대입을 한 구문으로 처리
    - `a, b, c = 10, 20, 30`

In [32]:
name10 = name1  # 변수 name1에 할당된 값을 name10에 할당
print(name1, name10)

홍길동 홍길동

In [33]:
result = 1 + 10 + 100  # 처리결과를 대입
print(result)

111

In [34]:
a = b = c = d = 100
print(a, b, c, d)

100 100 100 100

In [36]:
a, b = 500, 1000
print(a, b)

500 1000

In [38]:
# 튜플 대입 (tuple assignment)
name, age, address = '홍길동', 25, '서울'
print(name, age, address)

홍길동 25 서울

4. 대입(할당) 연산자(Assignment operator)

- 변수의 값을 그 변수와 다른 값을 연산한 결과로 변경한다.
|연산자|예|동일연산|
|:-|-|-|
|=|x = 1||
|+=|x += 1|x = x + 1|	
|-=|x -= 1|x = x - 1|	
|*=|x *= 1|x = x * 1|	
|/=|x /= 1|x = x / 1|	
|%=|x %= 1|x = x % 1|	
|//=|x //= 1|x = x // 1|	
|\*\*=|x \*\*= 1|x = x \*\* 1|

In [42]:
10 / 3
10 % 3
10 // 3
10 ** 3

1000

In [44]:
num = 10
num += 5  # num = num + 5
num *= 2   # num = num * 2
print(num)

30

### 변수값 조회
- 값을 사용해야 하는 자리에 변수명을 표현하면된다.
    - 변수명을 쓰면 그 변수가 가진 값을 조회해 사용한다.

In [45]:
num + 100

130

## 변수를 메모리에서 제거

메모리에서 변수(데이터 저장공간)을 제거할 때는 `del 변수명` 명령어를 사용한다.

In [46]:
print(num)

30

In [47]:
del num  # 메로리에서 변수 num을 제거

In [48]:
print(num)

# NameError -> 없는 변수, 함수를 사용할 때

NameError: name 'num' is not defined

# 데이터 타입 (Data Type)

- 값들의 형태(type)에 따라 종류를 분류한 것
    - 값(Value)들은 메모리에 2진수 즉 비트가 나열된 형태로 저장된다. 
    - 같은 형태로 저장되었더라도 그 값의 Data type에 따라 다르게 해석이 된다.
        - ex) 0100 0001 => 숫자타입일 경우 65, 문자열 타입일 경우 'A' 가 된다.
- 데이터타입은 값을 표현하는 방식과 관련 연산자들을 익히도록 한다.

## None 값
- 아무 값도 없음을 나타내는 값

In [50]:
a = None

In [51]:
# 변수를 먼저 선언하고 값은 나중에 할당하려고 할 때 or 진짜 값이 없는 경우
tall = None

## 숫자형(Numeric) - 정수, 실수

- 정수(int)와 실수(float) 형이 있다.
    - **정수 표현식**
        - 10, 20, -1, -20, 0
        - 16진수 표기
            - 0x 로 시작 (0xAF29)
        - 8진수 표기
            - 0O 으로 시작 (0o71)
    - **실수**
        - 20.1, 0.123411, 15.2321598
        - 지수표기법
            - $5e7$ -> $5.0\times10^7$
            - $3e-7$ -> $3\times10^{-7}$

In [53]:
print(0xAF23)  # 16진수
print(0o76)  # 8진수

44835
62

In [55]:
print(50_000_000_000)

50000000000

In [57]:
print(5e10)  # 5 * 10**10

50000000000.0

In [58]:
print(5e-3)

0.005

### 연산자
<b style='font-size:1.2em'>산술연산자</b>

|Operator(연산자)|설명|예|
|-|-|-|
|+|덧셈|x + y|
|-|뺄셈|x - y|
|*|곱셈|x * y|
|/|나눗셈|x / y|
|%|Modulus(나머지 나누기 연산자)|x % y|
|//|Floor division(몫 나누기 연산자)|x // y|
|**|제곱연산|x ** y|

## 논리형(bool)
- **참(True)과 거짓(False)을** 표현하는 데이터 타입
    - 제어문에서 많이 사용된다.
- 값 표현식
    - True, False
- bool 값이 들어가야 하는 구문에 다른 타입의 값을 작성하면 자동적으로 bool 타입으로 변환된다. (묵시적 형변환이라 한다.)
    - **0글자의 문자열, 숫자 0, None, 원소가 하나도 없는 자료구조는** False로 변환되고 그 이외는 True로 변환된다.

In [59]:
True, False

(True, False)

- input(\[label\]) 함수
    - 사용자로 부터 값을 입력받을 때 사용한다.
    - 사용자의 입력을 기다렸다 사용자가 값을 입력하고 엔터를 치면 그 입력한 값을 읽어 반환한다.
    - 어떤 값을 입력받을 것인지 Label을 문자열로 전달할 수 있다.

In [63]:
value = input()  # 사용잘로부터 입력받은 값(문자열로 받음)을 변수에 대입

390

In [64]:
print(value)

390

In [66]:
name = input('이름: ')

이름: 홍길동

In [67]:
age = input('나이: ')
address = input('주소: ')

나이: 30
주소: 서울시 금천구

In [68]:
print(name, age, address)

홍길동 30 서울시 금천구

### 논리형 관련 연산자
<b style='font-size:1.2em'>비교 연산자</b>
- 결과가 bool 타입
- 기준은 왼쪽의 피연산자이다.
|연산자|설명|예|
|-|-|-|
|==|같은가?|x == y|	
|!=|같지 않은가?|x != y|	
|>|x가 큰가?|x > y|
|<|x가 작은가?|x < y|	
|>=|x가 크거나 같은가?|x >= y|
|<=|x가 작거나 같은가?|x <= y|

In [71]:
num1, num2, num3 = 10, 20, 10
print(num1 == num2)
print(num1 == num3)

False
True

In [72]:
print(num1 != num2)
print(num1 != num3)

True
False

In [73]:
print(num1 > num2)
print(num2 > num1)

False
True

In [75]:
print(num1 > num3)
print(num1 >= num3)

False
True

In [78]:
value = None
# value가 None 인가?
print(value == None, value != None)
print(value is None, value is not None)

True False
True False

<b style='font-size:1.2em'>논리 연산자</b>
- 피연산자가 bool 타입이고 결과도 bool 타입이다.
- &, |, ^ 기호를 연산자로 사용할 때는 피연산자를 ( )로 묶어 줘야 한다.
|연산자|설명|예|
|:-|-|-|
|and, &|피연산자 모두 True이면 True를 하나라도 False이면 False를 반환.|x > 5 and  x < 10|	
|or, \||피연산자 둘중 하나만 True이면 True를 둘다 False이면 False를 반환.|x > 5 or x < -4|
|^|XOR 연산. 피연산자가 다를 경우 True, 같으면 False를 반환.|(x > 5) ^ (x < 4)|
|not|단항연산자. 결과를 뒤바꾸어 반환. True는 False로 False는 True로 반환.|not(x < 5 and x < 10)|

In [79]:
age = 20
age > 30

False

In [80]:
name = input('이름: ')

이름: 홍길동

In [82]:
name == '홍길동'

True

In [83]:
len('abc')  # 글자수를 셈

3

In [91]:
member_id = input('ID: ')

ID: aaaaaaaaaaaaaa

In [92]:
len(member_id) >= 6

True

In [93]:
# member_id가 6~10글자 사이인지?
len(member_id) >= 6 and len(member_id) <=10

False

In [94]:
6 <= len(member_id) <= 10

False

In [97]:
age = 10
# 나이가 20대인지?
# age >= 20 and age <= 29
(age >= 20) & (age <= 29)

False

In [100]:
# 나이가 20대가 아닌지?
# age < 20 or age >= 30
not(age >= 20 and age <= 29)

(age < 20) | (age >= 30)

True

In [106]:
num1 = 10
num2 = -5
# 두 변수의 부호가 다른지?
not((num1 >= 0) ^ (num2 >= 0))

False

In [103]:
True ^ True
False ^ False

False

In [104]:
True ^ False
False ^ True

True

<b style='font-size:1.2em'>조건 연산자</b>


True일때 결과값 <b style='color:purple'>if</b> 조건식 <b style='color:purple'>else</b> False일때 결과값
- 조건식이 True이면 앞의 값을 False이면 뒤의 값을 연산결과로 반환한다.

In [109]:
v = "참" if False else '거짓'
print(v)

거짓

In [114]:
num = input('정수: ')  # input()의 결과 타입: 문자열

정수: -5

In [115]:
# num: 문자열 -> 정수로 변환  int(변환할 값)
int(num) >= 0

False

In [117]:
# num이 0이상이면 '양수'를 num이 0미만이면 '음수'를 출력
num = int(input('정수: '))
result = '양수' if num >= 0 else '음수'
print(result)

정수: -9
음수

In [118]:
# num이 0 초과면 '양수', num이 0미만이면 '음수', 0이면 '0' 출력
num = int(input('정수: '))
result = '양수' if num > 0 else '음수' if num < 0 else '0'
print(result)

정수: 0
0

In [119]:
print(1 + 1)

2

In [120]:
print('양수' if num > 0 else '음수' if num < 0 else '0')

0

## 문자열 (string)

- 0글자 이상의 문자열을 표현한다.
- 파이썬 3.0 부터는 유니코드 문자열을 지원하므로 영문자 뿐 아니라 모든 나라의 철자들을 기본으로 사용할 수 있다.
- 문자열 표현식
    - **작은 따옴표 또는 큰 따옴표**로 감싼다.
    - 여러줄 문자열(Multiline string)은 **3개 짜리 작은따옴표 또는 큰따옴표**로 감싼다.
        - 문자열 데이터에 `엔터`가 들어갈 경우 편리하다.
    - Escape 문자
        - 키보드에는 있지만 글자로 표현할 수 없는 문자들을 표현할 때 사용한다. `예) 엔터, Tab, Back space 등`
        - 사용하는 글자가 원래 의미에서 벗어나(escape) 다른 의미로 쓰인다고 해서 escape문자라고 한다.
        - 파이썬 뿐 아니라 모든 프로그래밍 언어에서 사용하는 표준이다.
        - 표현: `\문자`

      
        
<b style='font-size:1.2em'>주요 Escape 문자</b>

|Escape문자|설명|
|-|-|
|\n|엔터|
|\t|Tab|
|\b|Backspace|
|\\\\|\\|
|\\\"|"|
|\\\'|'|


>- r-string (raw string)
>  - 문자열 앞에 r 접두어를 붙인다. (raw) 
>  - escape 문자구분자인 \를 무시하여 escape 문자로 변환하지 않고 작성한 그대로 사용한다.
>  - ex) r"c:\test\example\a.txt"

In [123]:
s = '안녕하세요. \n반갑습니다.\n저는 홍길동입니다.\n나이는 20세입니다.'
print(s)

안녕하세요.
반갑습니다.
저는 홍길동입니다.
나이는 20세입니다.

In [126]:
s2 = '''안녕하세요.
반갑습니다.
저는 홍길동입니다.
나이는 20세입니다.'''

In [127]:
print(s2)

안녕하세요.
반갑습니다.
저는 홍길동입니다.
나이는 20세입니다.

In [128]:
s2

'안녕하세요.\n반갑습니다.\n저는 홍길동입니다.\n나이는 20세입니다.'

In [129]:
s

'안녕하세요. \n반갑습니다.\n저는 홍길동입니다.\n나이는 20세입니다.'

In [130]:
print("abc", 'abc')

abc abc

In [10]:
# ESCAPE 문자열
print('a\tb')
print(1, 2, 3, 4, 5, 6, 7, sep='\t')
print('가\n나\n다')
print('123\b')
print(" a\"b ", ' a"b ')
print(' 가\'나 ', " 가'나 ")
print('c:\test\ncount\best.txt')
print('---------------')
print('c:\\test\\ncount\\best.txt')
print(r'c:\test\ncount\best.txt')  # r-string: escape 문자를 사용하지 않겠다.

a	b
1	2	3	4	5	6	7
가
나
다
123
 a"b   a"b
 가'나   가'나
c:	est
countest.txt
---------------
c:\test\ncount\best.txt
c:\test\ncount\best.txt

<b style='font-size:1.2em'>문자열 연산자</b>
- 문자열 + 문자열
    - 두 문자열을 합친다.
    - 문자열은 문자열과만 `+` 연산을 할 수 있다. 다른 타입과 합칠 경우 다른 타입을 문자열로 변환한 뒤 연산해야 한다. (str() 함수이용)

In [12]:
name = '홍길동'
print('이름: ' + name)
# print('이름: ', name)

이름: 홍길동

In [13]:
age = 20
print('나이: ' + str(age))  # 문자열 + 정수 (x) : 같은 타입간의 + 연산만 가능
# str(값): 값의 type을 문자열(str)으로 변환

나이: 20

- 문자열 * 정수
    - 문자열을 정수번 반복해서 합친다.

In [14]:
'안녕'*3

'안녕안녕안녕'

In [17]:
print('이름:'+ name)
print('-'*50)
print('나이:'+str(age))

이름:홍길동
--------------------------------------------------
나이:20

- `in`, `not in`
    - 문자열A in 문자열B
        - 문자열A가 문자열B에 **있**으면 True, 없으면 False를 반환
    - 문자열A not in 문자열B
        - 문자열A가 문자열B에 **없**으면 True, 있으면 False를 반환

In [20]:
address = '서울시 금천구 독산동'
print('서울' in address, '서울' not in address)

True False

In [21]:
print('종로' in address, '종로' not in address)

False True

- len(문자열)
    - 글자수를 반환한다.

In [23]:
print(len(address))
print(len(""))

11
0

In [24]:
# 문자열 간의 비교연산
name = '홍길동'
print(name == '홍길동')
print(name != '유재석')

True
True

In [26]:
# 크기비교: 같은 종류의 문자끼리 - 사전식 배열 (앞의 것이 뒤에 것보다 작다)
"A" > "B"
"A" > "Z"

False

In [27]:
# 특수문자 < 숫자 < 대문자 < 소문자 < 한글
"가" > "A"

True

In [28]:
# 문자 유니코드를 정수로 변환
print(ord('A'), ord('가'))

65 44032

In [29]:
'abcde' > 'abc가'

False

### Indexing과 Slicing

- Indexer 연산자
    - `집합형태[식별자]`
        - 여러개의 값이 모여있는 집합 형태의 데이터에서 그 중 일부를 조회할 때 사용하는 연산자.
            - 문자열, 자료구조 등 다양한 데이터타입에 사용한다.
        - 조회하고자 하는 일부를 식별할 수 있는 `식별자`를 \[\] 안에 넣어 조회한다.
- indexing과 slicing
    - **indexing**: 집합내에서 하나의 값을 조회하는 방법
    - **slicing**: 집합내에서 여러개의 값들을 범위로 지정해 조회하는 방법

### Indexing과 Slicing을 이용해 문자열내의 일부 문자들(sub string) 조회
- **문자열 내의 각 문자들은 식별자로 index를 가진다.**
    - 양수 index
        - 문자열 앞에서 부터 붙여주는 index
        - 0부터 1씩 증가하는 값을 붙여준다.
        - **앞에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 음수 index
        - 문자열 맨 뒤에서 부터 붙여주는 index
        - -1 에서 1씩 감소하는 값을 붙여준다.
        - **뒤에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 모든 문자는 양수/음수 index 두개를 가진다.
    ![index](images/ch02_01.png)

#### Indexing
- 문자열\[index\]
    - index의 문자를 조회
    - 변경은 안된다.
        - 문자열 값 안의 일부를 변경할 수 없다.
        - 문자열처럼 내부의 값을 변경할 수 없는 데이터 타입을 불변(Immutable)이라고 한다.

In [30]:
s = '안녕하세요. 반갑습니다.'
print('글자수:', len(s))

글자수: 13

In [35]:
print(s[0])
print(s[1])
print('다섯번째 글자:', s[5-1])
print('뒤에서 다섯번째 글자:', s[-5])
print(s[0], s[-13])

안
녕
다섯번째 글자: 요
뒤에서 다섯번째 글자: 갑
안 안

#### Slicing
- 기본구문: **문자열 \[ 시작 index : 종료 index : 간격\]**
    - 시작 index ~ (종료 index – 1)
    - 간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
- **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    - str_value \[ : 5\] => 0 ~ 4 까지 조회
- **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    - str_value\[2 : \] => 2번 index 에서 끝까지
- **명시적으로 간격을 줄 경우**
    - str_value\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    - str_value\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
- **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    - str_value\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    - str_value\[: : -1\]  => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

In [39]:
s2 = '0123456789'
print(s2[3:8:2])  # 3 ~7, index +2 증가 3, 5, 7
print(s2[:8:2])  # 시작 생략 -> 0~7, 간격: 2
print(s2[3::2])  # 끝 생략 -> 3~끝, 간격: 2
print(s2[3:8])  # 3~7: 간격생략 -> 1

357
0246
3579
34567

In [43]:
# 2번째 부터 뒤에서 3번째까지 조회
print(s2[1:-2])
# 역순 조회 (시작 > 종료, 간격: 음수)
print(s2[7:2:-1])  # 7~2--1

1234567
76543

### Format string (형식문자열) 생성
- 문자열에 문장 형식/구성/Layout을  미리 만들어 놓고 값은 나중에 대입하는 방식으로 문자열을 만드는 것
    - 여러 문자열이 같은 Layer에 특정 값들만 바뀌는 경우 사용한다.
        - 이름 : XXX 나이 : XXX 성별 : XXX  
        - 기본 형식은 같은데 XXX에 들어갈 값들은 그때 그때 다를 경우 사용
1. format() 함수 이용
    - 문자열을 만들 때 값을 나중에 넣을 위치 { } 로 표시하고 format() 메소드에서 { }에 들어갈 값을 순서대로 넣는다.


> 값을 넣어줄 자리를 지정하는 것을 **placeholder** 라고 한다.

In [44]:
# 한사람의 정보
name = '홍길동'
age = 20
tall = 178.2
weight = 82

In [45]:
print('이름:'+name)
print('나이:'+str(age))

이름:홍길동
나이:20

In [47]:
info = '이름:'+name+', 나이'+str(age)+', 키:'+str(tall)+', 몸무게:'+str(weight)
print(info)

이름:홍길동, 나이20, 키:178.2, 몸무게:82

In [ ]:
'이름:'+name+', 나이'+str(age)+', 키:'+str(tall)+', 몸무게:'+str(weight)

In [ ]:
'이름:xxxxxxx, 나이:yyyyyyy, 키:zzzzzzcm, 몸무게ooooookg'

In [ ]:
'이름:name, 나이:age, 키:tallcm, 몸무게weightkg'

In [49]:
template = '이름:{}, 나이:{}세, 키:{}cm, 몸무게{}kg'
info = template.format(name, age, tall, weight)  # format() 메소드(함수)를 이용해서 {}에 값을 넣어준다
print(template)
print(info)

이름:{}, 나이:{}세, 키:{}cm, 몸무게{}kg
이름:홍길동, 나이:20세, 키:178.2cm, 몸무게82kg

In [51]:
template2 = '이름:{}, 이름:{}, 이름:{}'  # 세 {} 같은 값을 넣을 걍우
print(template2.format(name, name, name))

template3= '이름:{0}, 이름:{0}, 이름:{0}, 나이:{1}'
print(template3.format(name, age))

이름:홍길동, 이름:홍길동, 이름:홍길동
이름:홍길동, 이름:홍길동, 이름:홍길동, 나이:20

2. % value 사용
    - 타입을 지정하는 % value를 이용해 값을 넣어줄 자리를 지정한다.
    - format 문자열과 넣어줄 값은 % 로 구분한다.
    
|% value|설명|
|-|-|
|%s|string|
|%d|int-정수|
|%f|float-실수|
|%%|%|

실수는 소수점자릿수를 6자리로 맞추기 때문에 정밀도를 표현하는 표현식을 지정하는 것이 좋다. `ex) %.2f`

In [52]:
info10 = '이름: %s, 나이: %d, 키: %.2fcm, 몸무기: %.2fkg' % (name, age, tall, weight)
print(info10)

이름: 홍길동, 나이: 20, 키: 178.200000cm, 몸무기: 82.000000kg

3. f-string (format string)
    - 파이썬 3.6에서 추가된 형식
    - 문자열 앞에 접두어 `f`를 사용한다.
    - 값을 넣을 자리에 {변수명} 을 이용해 변수가 가진 값을 문자열에 추가한다.

In [53]:
info = f'이름: {name}, 나이: {age}, 키: {tall}cm, 몸무게: {weight}kg'
print(info)

이름: 홍길동, 나이: 20, 키: 178.2cm, 몸무게: 82kg

In [ ]:
# 템플릿을 재사용하는 경우 -> format() 메소드 이용하는 방식
# 템플릿이 일회용일 때는 f-string 사용
# 넣어주는 값의 타입을 체크해야하는 경우 % 연산자 이용

In [54]:
name1, name2, name3 = '유재석', '박명수', '홍길동'
age1, age2, age3 = 20, 30, 40
template = '이름: {}, 나이: {}'
print(template.format(name1, age1))
print(template.format(name2, age2))
print(template.format(name3, age3))

이름: 유재석, 나이: 20
이름: 박명수, 나이: 30
이름: 홍길동, 나이: 40

In [55]:
print(f'이름: {name1}, 나이: {age1}')
print(f'이름: {name2}, 나이: {age2}')
print(f'이름: {name3}, 나이: {age3}')

이름: 유재석, 나이: 20
이름: 박명수, 나이: 30
이름: 홍길동, 나이: 40

### string 주요 메소드

|메소드|설명|
|-|-|
|split(구분문자열)|구분 문자열을 기준으로 나눈다.|
|strip(), lstrip(), rstrip()|앞뒤(strip) 앞(lstrip) 뒤(rstrip) 공백 제거|
|replace('바꿀 문자열', '새문자열')|바꿀 문자열을 새문자열로 변경|
|count('세려는 문자열')|string안에 세려는 문자열이 몇개 있는지 반환|
|index(문자열), find(문자열)|문자열이 몇번째 index에 있는지 반환|
|upper(), lower()|모든 글자를 대문자(upper), 소문자(lower)로 변환|
|capitalize()|문자열의 첫글자를 대문자로 변환|
|islower(), isupper()|문자열이 모두 소문자(islower), 대문자(isupper)이면 True 아니면 False를 반환|
|startswith("문자열"), endswith("문자열")|문자열로 시작하는지/끝나는지 여부 반환|

In [56]:
s = '사과 배 귤 수박 복숭아'
s.split()  # 공백을 기준으로 나눈다

['사과', '배', '귤', '수박', '복숭아']

In [57]:
s2 = '사과,배,귤,수박,복숭아'
s2.split(',')  # 나누는 기준 문자열 지정

['사과', '배', '귤', '수박', '복숭아']

In [59]:
s3 = '       abc      '
print(len(s3))
# 공백제거
print(s3)
print(s3.strip(), len(s3.strip()))  # 좌우공백 제거
print(s3.lstrip(), len(s3.lstrip()))  # 왼쪽 공백만 제거
print(s3.rstrip(), len(s3.rstrip()))  # 오른쪽 공백만 제거

16
       abc
abc 3
abc       9
       abc 10

In [62]:
s4 = 'aaaaabbbbbbbbccccccc가가가가aaabbbbbccc나abc'
print(s4.replace('a', '1'))  # 문자열을 다른 문자열로 변경: a -> 1
result = s4.replace('bc', '비시')  # bc -> 비시 (s4를 변환한 새로운 문자열 반환)
print(result)

11111bbbbbbbbccccccc가가가가111bbbbbccc나1bc
aaaaabbbbbbb비시cccccc가가가가aaabbbb비시cc나a비시

In [69]:
s5 = '사과 배 귤 수박 복숭아 사과 사과 복숭아 사과 배 사과 사과'
print('글자수:', len(s5))
print(s5.count('사과'))  # 문자열 안에 '사과'가 몇 개 있는지
print(s5.count('복숭아'))

글자수: 34
6
2

In [70]:
s6 = 'abcdeABCDE'
print(s6.upper())  # 소문자를 모두 대문자로 변경
print(s6.lower())  # 대문자를 모두 소문자로 변경

ABCDEABCDE
abcdeabcde

In [73]:
name = input('이름:')
# 이름이 john인지 확인
name.lower() == 'john'

이름:JOHN

True

In [74]:
name = input('이름:')
# 이름이 john인지 확인
name.upper() == 'JOHN'

이름:jOhN

True

In [76]:
name = input('이름:')
# 이름이 john인지 확인
name.upper().strip() == 'JOHN'

이름:  john

True

In [83]:
s7 = 'ab가'
s7.islower()  # 소문자로 구성되어 있나?

True

In [88]:
s7 = 'ABC가'
s7.isupper()  # 소문자로 구성되어 있나?

True

In [1]:
url = 'http://www.naver.com'

url.startswith('http://')  # url이 'http://'로 시작하는지 여부
url.startswith('www')

url.endswith('.com')  # url이 '.com'으로 끝나는지 여부
url.endswith('.co.kr')

False

## 데이터 타입 변환 (형변환) 함수
- 값의 데이터타입을 확인하는 함수
    - type(값)
- 정수로 변환
    - int(value)
- 실수로 변환
    - float(value)
- 문자열로 변환
    - str(value)
- 논리형으로 변환
    - bool(value)

In [5]:
type(10), type(3.12), type('abc'), type(True)

(int, float, str, bool)

In [6]:
type(10) == int

True

In [8]:
int('10') + int('20')

30

In [11]:
int('10a')
# int('abc')  # 정수형태의 문자열만 변경가능

ValueError: invalid literal for int() with base 10: '10a'

In [12]:
int(3.56)  # 실수 -> 정수 (내림)

3

In [14]:
float('4.56') + 2

6.56

In [15]:
float('abc')

ValueError: could not convert string to float: 'abc'

In [16]:
# True: 1 False: 0
int(True), int(False)

(1, 0)

In [19]:
# 없다 의미의 값: False, 나머진 True
# 0, 0.0, "", None, 원소가 0개인 자료구조 -> False
print(bool(0), bool(0.0))
print(bool(10), bool(-20), bool(56.12), bool(-1.1))

False False
True True True True

In [20]:
print(bool(''), bool(' '), bool(None))

False True False

## 동적타입 언어
- 변수가 가질 수 있는 값의 타입을 고정하지 않는다. 그래서 같은 변수에 서로 다른 타입의 값을 저장할 수 있다.
- 자유도는 높지만 프로그램의 규모가 커지면 오류의 원인이 될 수 있다. 
- 파이썬은 동적 타입 언어이다.

> - **정적 타입 언어**
>     - 변수를 선언할 때 그 변수에 저장할 수 있는 값의 타입을 고정시킨다.

In [24]:
age = 30

age + 1

age = '스무살'

age += 1

# age = True

TypeError: can only concatenate str (not "int") to str

In [21]:
age = 30
age = '스무살'
age = True

In [22]:
type(age)

bool

In [25]:
정수 age = 30
age = '스무살'

SyntaxError: invalid syntax (902291606.py, line 1)

In [26]:
# 파이썬의 타입 힌트
age:int = 10  # 변수명: 타입 -> 변수의 타입 힌트
print(age)

10

In [ ]:
age = '스무살'

# TODO

In [47]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
s1 = "901211-1027213"
print(s1[:6])

901211

In [48]:
#2. "안녕하세요" 를 10번 출력하시오.
print('안녕하세요 '*10)

안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요

In [49]:
#3. 다음 문자열의 글자수를 출력하시오.
str_value = "akdlclkdkdlelql39du7마구0ㅌ" 
print(len(str_value))

24

In [50]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print(f'제품명 : {name}, 가격 : {price}, 제조사 : {maker}')

제품명 : TV, 가격 : 300000, 제조사 : LG

In [54]:
#5.
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
print('fruits에 수박이 있다' if '수박' in fruits else 'fruits에 수박이 없다')

fruits에 수박이 없다

In [52]:
#6.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.
print(str_value.count('a'))

9

In [53]:
#7. 두개의 정수를 입력받아서 곱한 결과를 출력하는 코드를 작성하세요.
a, b = map(int, input('정수 두 개 입력하세요: ').split())
print(a*b)

정수 두 개 입력하세요: 3 8
24