# 자료구조란

- 여러 개의 값들을 모아서 관리하는 데이터 타입.
    - 한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 묶어서 저장해 관리해야 할 경우가 있다. 
    - 예) 고객의 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다. 
- 파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    - List: 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    - Tuple: 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    - Dictionary: key-value 형태로 값들을 저장해 관리한다.
    - Set: 중복을 허용하지 않고 값들의 순서가 없다.
- 원소, 성분, 요소, element
    - 자료구조의 값들을 구성하는 개별 값들을 말한다.
    - len(자료구조) 함수
        - 자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

- 값을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    - 각각의 원소가 어떤 값인지를 순번을 가지고 식별하기 때문에 **순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
- 각 원소들은 순번을 index라고 하며 값을 조회하거나 변경할 때 index를 이용해 식별한다.
    - index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    - 양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    - **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
- 중복된 값들을 저장할 수 있다.
- 각 원소들의 데이터 타입은 달라도 상관없다.
    - 보통은 같은 타입의 데이터를 모은다.
- 리스트를 구성하는 원소들을 변경할 수 있다. (추가, 삭제, 변경이 가능)

## List 생성 구문
```python
[값, 값, 값, ..]
```

In [1]:
# 생성
l1 = [10, 20, 30, 40, 50, 10, 10, 10]
print(l1)
type(l1)

[10, 20, 30, 40, 50, 10, 10, 10]

list

In [2]:
l2 = ['a', 20, 1.2, True]  # 다른 타입의 값들을 모을 수 있음
l2

['a', 20, 1.2, True]

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing
- 하나의 원소를 조회하거나 변경할 때 사용
- 리스트\[index\] 
    - index의 원소를 조회
- 리스트\[index\] = 값
    - index의 원소를 변경

In [3]:
# indexing - 리스트에서 원소(값) 한개맨 조회
print(len(l1))
l1

8

[10, 20, 30, 40, 50, 10, 10, 10]

In [4]:
# 첫번쩨 
print(l1[0], l1[-8])
print(l1[4], l1[-4])

10 10
50 50

In [5]:
# 변경이 가능
l1[0]=1000
l1

[1000, 20, 30, 40, 50, 10, 10, 10]

In [6]:
l1[-1] =-250
l1

[1000, 20, 30, 40, 50, 10, 10, -250]

In [7]:
# 삭제
del[1]

SyntaxError: cannot delete literal (760104472.py, line 2)

In [8]:
11

11

In [9]:
l1[1]

20

In [10]:
a

NameError: name 'a' is not defined

In [11]:
# 마지막 index에 원소를 추가
la.append(10000)

NameError: name 'la' is not defined

In [12]:
l1

[1000, 20, 30, 40, 50, 10, 10, -250]

### Slicing
- 범위로 조회하거나 그 범위의 값들을 변경한다.
- 기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    - 시작 index ~ (종료 index – 1)
    - 간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
- **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    - 리스트 \[ : 5\] => 0 ~ 4 까지 조회
- **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    - 리스트\[2 : \] => 2번 index 에서 끝까지
- **명시적으로 간격을 줄 경우**
    - 리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    - 리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
- **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    - 리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    - 리스트\[: : -1\]  => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경
- slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    - `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [13]:
### slicing
l2 = [0,1,2,3,4,5,6,7,8,9]
print(len(l2))

10

In [14]:
l2[1:6]

[1, 2, 3, 4, 5]

In [15]:
l2[1:8:3]

[1, 4, 7]

In [16]:
l2[:5]

[0, 1, 2, 3, 4]

In [17]:
l2[5:]

[5, 6, 7, 8, 9]

In [18]:
l2[2::2]  # 2~끝, 간격: 2

[2, 4, 6, 8]

In [19]:
l2[1:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
l2[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [68]:
# 변경
l2[2:5] = [20,30,70]

In [25]:
l2

[0, 1, 20, 30, 70, 5, 1000, 2000]

In [26]:
l2[6:] = [1000,2000]
l2

[0, 1, 20, 30, 70, 5, 1000, 2000]

## List 연산자
- 리스트 + 리스트
    - 두 리스트의 원소들을 합친 리스트를 반환한다.
- 리스트 * 정수
    - 같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.   
- in, not in 연산자
    - 값 in 리스트
        - 리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in 리스트
        - 리스트의 원소로 값이 **없으면** True, 있으면 False 반환  
- len(리스트)
    - 리스트 내의 원소수를 반환.

In [27]:
l1 = [1, 2, 3]
l2 = [100, 200, 300, 400]
l3 = l1 + l2  # 두 리스트의 값을 합친 새로운 리스트 생성
l3

[1, 2, 3, 100, 200, 300, 400]

In [28]:
l1, l2

([1, 2, 3], [100, 200, 300, 400])

In [29]:
l4 = l1 * 3
l4

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
l1

[1, 2, 3]

In [31]:
10 in l1

False

In [32]:
10 not in l1

True

In [33]:
[1, 2] in l1  # l1에 [1, 2] 리스트가 있는지

False

In [34]:
# l1 안에 1 또는 2가 있는지?
1 in l1 or 20 in l1

True

In [35]:
1 in l1 and 20 in l1

False

## 중첩 리스트 (Nested List)
- List가 원소로 List를 가지는 것을 말한다.
    - List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [36]:
l1 = [1, 2, 3]
l2 = ['가', '나', '다', '라']
l3 = [l1, l2]

In [37]:
l3

[[1, 2, 3], ['가', '나', '다', '라']]

In [38]:
l3[0]

[1, 2, 3]

In [39]:
l3[0][1]

2

In [40]:
l3[1][2]

'다'

In [41]:
l3[1][1:]

['나', '다', '라']

## List 대입
- 리스트의 원소들을 각각 다른 변수에 대입하는 표현식
- 변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [42]:
v1, v2, v3 = [10, 20, 30]
print(v1, v2, v3)

10 20 30

In [43]:
v11, v22, v33 = 1, 2, 3  # 튜플대입
print(v11, v22, v33)

1 2 3

## List 주요 메소드
|메소드|설명|
|:-|-|
|append(value)|value를  추가한다.|
|extend(List)|List의 원소들을 추가한다.|
|sort(\[reverse=False\])|원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.|
|insert(index, 삽입할값)|지정한 index에 '삽입할값'을 삽입한다.|
|remove(삭제할값)|'삭제할값' 값과 같은 원소를 삭제한다.|
|index(찾을값\[, 시작index\])|'찾을값'의 index를 반환한다.|
|pop(\[index\])|index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다.|
|count(값)|'값'이 리스트의 원소로 몇개 있는지 반환한다.|
|clear()|리스트 안의 모든 원소들을 삭제한다.|

In [44]:
l = [1, 2, 3, 4, 5, 6, 7]
l.append(10)  # 10을추가

In [45]:
l.extend([100,200,300])  # 여러개 값들 추가

In [46]:
l.insert(3, 10000)  # index 3에 10000을 삼압

In [47]:
l

[1, 2, 3, 10000, 4, 5, 6, 7, 10, 100, 200, 300]

In [48]:
result = []  # 빈리스트
result.append(1 + 1)
result.append(10 * 2)
result.append(100/5)

In [49]:
result

[2, 20, 20.0]

In [50]:
l.sort()  # l의 원소들을 오름차순 정렬

In [51]:
l.sort(reverse=True)

In [52]:
l

[10000, 300, 200, 100, 10, 7, 6, 5, 4, 3, 2, 1]

In [53]:
# 정렬 함수: sorted(자료구조) => 정렬 결과를 리스트로 반환

In [54]:
sorted(l)  # l자체를 정렬하지 않고 l을 정렬한 결과를 새로운 리스트에 담아서 반환

[1, 2, 3, 4, 5, 6, 7, 10, 100, 200, 300, 10000]

In [55]:
l

[10000, 300, 200, 100, 10, 7, 6, 5, 4, 3, 2, 1]

In [56]:
sorted('가ABabc#!', reverse=True)

['가', 'c', 'b', 'a', 'B', 'A', '#', '!']

In [57]:
# 삭제
l.remove(300)  # 300을 찾아서 삭제

In [58]:
l

[10000, 200, 100, 10, 7, 6, 5, 4, 3, 2, 1]

In [59]:
v = l.pop(2)  # index 2의 값을 반환하면서 석=-

In [60]:
l

[10000, 200, 10, 7, 6, 5, 4, 3, 2, 1]

In [61]:
v2 = l.pop()  # 마지막 index의 값을 삭제하면서 반환 (index 상략)
v2

1

In [62]:
l

[10000, 200, 10, 7, 6, 5, 4, 3, 2]

In [63]:
l.pop()

2

In [64]:
l.clear()  # 모두 삭제
l

[]

In [65]:
# 없는 index 다루기
l = [1, 2, 3]  # 
l[5]  # 없는 index 조회

IndexError: list index out of range

In [66]:
l.pop(10)
# IndexError

IndexError: pop index out of range

In [67]:
l.insert(20, 11)  # 없는 index에 넣으면 append()가 된다

In [94]:
l

[1, 2, 3, 11]

# Tuple (튜플)
- List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
- Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다. 
    - Tuple은 값의 변경되지 않으므로 안전하다.
    
## Tuple 생성
- `(value, value, value, ...)`
- 소괄호를 생략할 수 있다.
- 원소가 하나인 Tuple 표현식
    - `(value,)` 또는 `value,` 
        - 값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [5]:
# tuple 생성
t1 = (10, 20, 30, 40, 50)  # () 감싼다
print(type(t1))
t2 = 10, 20, 30, 40, 50, 60  # () 생략가능
print(type(t2))
t3 = (10, 5.2, True, 'abc')  # 다른 타입들 모으기 가능
t4 = 10, 5.2, True, 'abc'
print(type(t3), type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'> <class 'tuple'>

In [6]:
print(t1)
print(t2)

(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 60)

In [9]:
# 원소가 1개인 tuple
t5 = (30)
print(type(t5))
t6 = (30,)
print(type(t6))

t7 = 50,
print(type(t7))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [10]:
print(t6)
print(t7)

(30,)
(50,)

## Indexing과 Slicing을 이용한 원소(element) 조회
- 리스트와 동일하다.
- 단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

In [11]:
t2

(10, 20, 30, 40, 50, 60)

In [12]:
# 양수 / 음수 index
print(t2[0], t2[-6])
print(t2[5], t2[-1])

10 10
60 60

In [13]:
t2[2] = 100  # 원소 변경 X
# 생섷할 때 가지는 원소들을 변경 X => 불변의 타입 (immutable type)

TypeError: 'tuple' object does not support item assignment

In [19]:
t2

(10, 20, 30, 40, 50, 60)

In [18]:
t2[1:5]

(20, 30, 40, 50)

In [20]:
t2[1:-2]

(20, 30, 40)

In [21]:
t2[::3]

(10, 40)

In [23]:
t2[::-1]
# 조회결과를 새로운 tuple에 넣어서 반환 (t2 자체가 바뀌는 것이 X)

(60, 50, 40, 30, 20, 10)

## Tuple 연산자
- tuple + tuple
    - 두 tuple의 원소들을 합친 tuple을 반환한다.
- tuple * 정수
    - 같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.  
- in, not in 연산자
    - 값 in tuple
        - tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in tuple
        - tuple의 원소로 값이 **없으면** True, 있으면 False 반환    
- len(tuple)
    - tuple의 원소 개수 반환

In [25]:
r1 = t1 + t2
r1

(1, 2, 10, 20, 30, 40, 50, 60)

In [26]:
t1, t2

((1, 2), (10, 20, 30, 40, 50, 60))

In [27]:
a = 10
b = 20
a, b

(10, 20)

In [28]:
t1*5

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [30]:
10 in t2, 100 in t2

(True, False)

In [31]:
10 not in t2, 100 not in t2

(False, True)

In [33]:
len(t2), len(t3)

(6, 4)

## Tuple 대입
- 튜플의 원소들을 각각 다른 변수에 대입하는 표현식.
- 변수의 개수와 튜플의 원소 개수는 동일해야 한다.

In [35]:
v1, v2, v3 = 10, 'a', 5.7
print(v1, v2, v3)

10 a 5.7

In [37]:
# v1, v2, v3 = 10, 'A'
# v2, v3 = 10, 'A', 5.7

ValueError: not enough values to unpack (expected 3, got 2)

## Tuple의 주요 메소드
|메소드|설명|
|:-|-|
|index(찾을값 \[, 시작index\])|'찾을값'이 몇번 index인지 반환한다.|
|count(값)|원소로 '값'이 몇개 있는지 반환한다.|

In [41]:
t = (1, 2, 3, 4, 1, 2, 1, 2, 1, 1)
t

(1, 2, 3, 4, 1, 2, 1, 2, 1, 1)

In [42]:
t.index(4)  # 값 4의 index를 조회

3

In [44]:
t[t.index(4)]  # t[3]

4

In [45]:
t.index(2)

1

In [46]:
t.index(2, 4)  # 2의 index 조회, index 4부터 찾아라

5

In [47]:
t.count(1)  # 원소 1이 몇 개 있는지

5

# Dictionary
- 값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    - 리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    - 서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        - cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    - key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    - key는 중복을 허용하지 않고 value는 중복을 허용한다.
    
## Dictionary 생성
- 구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    - 키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    - dict() 함수를 사용할 경우 key는 변수로 정의한다

In [48]:
# 과일의 개수
# fruit_counts = [100, 50, 60, 70]
fruit_counts = {'사과':100, '배':50, '수박':60, '귤':70}
fruit_counts

{'사과': 100, '배': 50, '수박': 60, '귤': 70}

In [50]:
customer_info = {'name':'홍길동', 
                 'age':20, 
                 'email':'abc@abc.com', 
                 'address':'서울',
                 'hobby':['game', 'sport']
                }
customer_info

{'name': '홍길동',
 'age': 20,
 'email': 'abc@abc.com',
 'address': '서울',
 'hobby': ['game', 'sport']}

In [53]:
# key는 중복 허용 X, value는 중복 허용 O
d = {'name':'홍길동', 'nickname':'홍길동'}
d

{'name': '홍길동', 'nickname': '홍길동'}

In [54]:
d2 = {'name':'홍길동', 'name':'유재석', 'name':'박명수'}
d2
# 같은 key가 들어가면 마지막에 추가된 것만 남음 (변경)

{'name': '박명수'}

In [57]:
customer_info2 = dict(id='id-1900', password='aldjasfskw', name='이순신')
customer_info2

{'id': 'id-1900', 'password': 'aldjasfskw', 'name': '이순신'}

## Dictionary 원소 조회 및 변경
- 조회: index에 key값을 식별자로 지정한다.
    - dictionary\[ key \]
    - 없는 키로 조회 시 KeyError 발생
- 변경
    - dictionary\[ key \] = 값
    - 있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [58]:
# 이름
customer_info['name']

'홍길동'

In [59]:
# 나이
customer_info['age']

20

In [61]:
# 취미
customer_info['hobby']
# 첫번째 취미
customer_info['hobby'][0]

'game'

In [62]:
customer_info2['id']

'id-1900'

In [64]:
# 없는 key로 조회 -> 에러(Exception) 발생
customer_info['tall']

KeyError: 'tall'

In [65]:
# 추가 / 변경
## item 추가
customer_info['tall'] = 182.33  # 없는 key = 값
customer_info

{'name': '홍길동',
 'age': 20,
 'email': 'abc@abc.com',
 'address': '서울',
 'hobby': ['game', 'sport'],
 'tall': 182.33}

In [66]:
# 변경
customer_info['age'] = 30  # 있는 key에 값을 할당
customer_info

{'name': '홍길동',
 'age': 30,
 'email': 'abc@abc.com',
 'address': '서울',
 'hobby': ['game', 'sport'],
 'tall': 182.33}

## Dictionary 연산자

- in, not in 연산자
    - 값 in dictionary
        - dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    - 값 not in dictionary
        - dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환    
- len(dictionary)
    - dictionary의 **Item의 개수** 반환

In [67]:
'홍길동' in customer_info

False

In [68]:
# in, not in은 key가 있는지/없는지 여부
'name' in customer_info

True

In [70]:
if 'weight' in customer_info:
    print(customer_info['weight'])  # weight 키가 있으면 조회
else:
    print('weight X')  # weight 키가 없으면 실행

weight X

## Dictionary 주요 메소드

|메소드|설명|
|:-|-|
|get(key\[, 기본값\])|key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.|
|pop(key)|key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생|
|clear()|dictionary의 모든 item들을 삭제한다.|
|del dict\[key\]|key의 item을 제거한다.|
|items()|item의 key, value를 튜플로 묶어 모아 반환한다.|
|keys()|key값들만 모아 반환한다.|
|values()|value값들만 모아 반환한다.|

In [72]:
print(customer_info.get('weight'))

None

In [73]:
customer_info.get('name')

'홍길동'

In [74]:
customer_info.get('weight', -1)  # -1: default값 (weight 키가 없으면 반환할 값)

-1

In [75]:
customer_info

{'name': '홍길동',
 'age': 30,
 'email': 'abc@abc.com',
 'address': '서울',
 'hobby': ['game', 'sport'],
 'tall': 182.33}

In [76]:
v = customer_info.pop('address')  # address의 값을 반환하면서 제거
print(v)
print(customer_info)

서울
{'name': '홍길동', 'age': 30, 'email': 'abc@abc.com', 'hobby': ['game', 'sport'], 'tall': 182.33}

In [77]:
del customer_info['email']  # 삭제만

In [78]:
customer_info

{'name': '홍길동', 'age': 30, 'hobby': ['game', 'sport'], 'tall': 182.33}

In [79]:
customer_info.keys()  # key값들만 모아서 반환

dict_keys(['name', 'age', 'hobby', 'tall'])

In [80]:
customer_info.values()  # value들만 모아서 반환

dict_values(['홍길동', 30, ['game', 'sport'], 182.33])

In [81]:
customer_info.items()  # key, value를 튜플로 묶어서 반환

dict_items([('name', '홍길동'), ('age', 30), ('hobby', ['game', 'sport']), ('tall', 182.33)])

In [82]:
customer_info.clear()

In [83]:
customer_info

{}

# Set 

- Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    - 원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성
- 구문
    - {값, 값, 값 }

> -빈 Dictionary 만들기
>    - info = {}
>    - 중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [85]:
s1 = {1, 2, 3, 4, 5}
s1

{1, 2, 3, 4, 5}

In [86]:
s2 = {1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 1, 1, 5, 5, 4, 4}
s2

{1, 2, 3, 4, 5}

In [87]:
s2[0]  # 개별 원소 조회 X

TypeError: 'set' object is not subscriptable

## Set 연산자

- in, not in 연산자
    - 값 in Set
        - Set의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in Set
        - Set의 원소로 값이 **없으면** True, 있으면 False 반환    
- len(Set)
    - Set의 **원소의 개수** 반환

In [88]:
10 in s2, 1 in s2

(False, True)

In [89]:
10 not in s2, 1 not in s2

(True, False)

In [90]:
len(s2)

5

## Set의 주요 메소드

|메소드|설명|
|-|-|
|add(값)|집합에 값 추가|
|update(자료구조)|자료구조내의 원소들을 모두 집합에 추가|
|pop()|원소를 반환하고 Set에서 삭제한다.|
|remove(값)|값을 찾아서 Set에서 삭제한다.|

In [93]:
s2.add(6)
s2

{1, 2, 3, 4, 5, 6}

In [94]:
s2.add(6)
s2

{1, 2, 3, 4, 5, 6}

In [96]:
s2.update([10, 20, 30, 40])
s2

{1, 2, 3, 4, 5, 6, 10, 20, 30, 40}

In [97]:
s2.update([100, 200, 300, 10, 20, 30, 40])
s2

{1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 100, 200, 300}

In [98]:
v = s2.pop()
print(v)

1

In [99]:
s2

{2, 3, 4, 5, 6, 10, 20, 30, 40, 100, 200, 300}

In [100]:
s2.remove(20)

In [101]:
s2

{2, 3, 4, 5, 6, 10, 30, 40, 100, 200, 300}

In [102]:
s2.remove(1000)  # 없는 값 삭제 -> 예외(Excption) 발생

KeyError: 1000

## Set의 집합연산 연산자 및 메소드

- 합집합
    - 집합A | 집합B
    - 집합A.union(집합B)
- 교집합
    - 집합A & 집합B
    - 집합A.intersection(집합B)
- 차집합
    - 집합A - 집합B
    - 집합A.difference(집합B)

In [103]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [105]:
# 합집합
set3 = set1 | set2  # 두 셋을 합친 새로운 셋 반환
set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [109]:
set4 = set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8}

In [110]:
# 교집합
set5 = set1 & set2
set5

{4, 5}

In [111]:
set6 = set1.intersection(set2)
set6

{4, 5}

In [112]:
# 차집합
set7 = set1 - set2
set7

{1, 2, 3}

In [113]:
set8 = set1.difference(set2)
set8

{1, 2, 3}

# 자료구조 변환 함수

- list(자료구조)
    - 대상 자료구조/Iterable을 List로 변환한다.
- tuple(자료구조)
    - 대상 자료구조/Iterable을 Tuple로 변환
- set(자료구조)
    - 대상 자료구조/Iterable을 Set으로 변환
    - 다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
- Dictionary로 변환하는 함수는 없다.
- 변경할 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> - Iterable
>    - 반복가능한 객체. 
>    - 다음 값 달라는 요청받으면 값을 제공한다. 제공할 값을 다 줄 때까지 요청을 받을때 마다 순차적으로 하나씩 제공한다.
>         - Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>    - 대표적으로 자료구조, 문자열 등이 있다.

In [115]:
# v = [1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 4, 4, 4, 1]
v = (1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 5, 4, 4, 4, 1)
# v가 무슨 값들로 구성되었는지 확인 => list를 set으로 변환
set(v)

{1, 2, 3, 4, 5}

In [116]:
t = (1, 2, 3, 4, 5)
# t에 100을 추가: tuple -> list -> 값 추가 -> tuple
l = list(t)
l.append(100)
t = tuple(l)
t

(1, 2, 3, 4, 5, 100)

In [117]:
d = {'A':10, 'B':20, 'C':30}
d

{'A': 10, 'B': 20, 'C': 30}

In [118]:
# dict -> 다른 자료구조로 변환
set(d)

{'A', 'B', 'C'}

In [119]:
list(d)

['A', 'B', 'C']

In [120]:
tuple(d)

('A', 'B', 'C')

In [123]:
list('안녕하세요.')  # 문자열: 문자를 모아놓은 iterable

['안', '녕', '하', '세', '요', '.']

In [124]:
set('aaabbbcccdddeeecccaaacccsss')

{'a', 'b', 'c', 'd', 'e', 's'}

In [125]:
tuple('안녕하세요.')

('안', '녕', '하', '세', '요', '.')

In [127]:
r = '배 사과 귤 수박 복숭아'.split()
r

['배', '사과', '귤', '수박', '복숭아']

In [128]:
r[0]

'배'

In [129]:
" ".join(r)  
# '합칠때 사용할 구분문자열'.join(리스트) -> 리스트의 문자열 원소들을 하나의 문자열로 합침

'배 사과 귤 수박 복숭아'

# TODO

In [179]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [180]:
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. 

#(1)  7번의 점수를 출력하세요 
print(jumsu[6])

80

In [181]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[:5])

[100, 90, 100, 80, 70]

In [182]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

[80, 70, 100, 80]

In [183]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [184]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [185]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu[:])

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [186]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
# list(set(jumsu))  # set()으로 중복을 제거하고 그 결과를 list로 변환
print(set(jumsu))

{100, 70, 80, 20, 85, 90}

In [187]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

In [188]:
#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
# # 방법 1. append사용
# fruits.append('사과')
# fruits.append('귤')
# # 방법2. extend사용
# fruits.extend(['사과', '귤'])
fruits += ['사과', '귤']
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']

In [189]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove('복숭아')
fruits

['수박', '딸기', '사과', '귤']

In [197]:
# index 1의 값을 제거 
del fruits[1]

In [198]:
fruits

['수박', '사과', '귤']

In [199]:
fruits.pop(0)

'수박'

In [200]:
fruits

['사과', '귤']

In [190]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼여부를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
my_info = {
    'name':'dagyeong',
    'age':24,
    'email':'hdk990425@gmail.com',
    'hobby':['game', 'baking'],
    'married':False
}
my_info

{'name': 'dagyeong',
 'age': 24,
 'email': 'hdk990425@gmail.com',
 'hobby': ['game', 'baking'],
 'married': False}

In [201]:
info2 = dict(
    이름='홍길동2',
    나이=40,
    email주소='hgd2@naver.com',
    취미=['독서', '운동'],
    결혼여부=False
)

In [202]:
info2

{'이름': '홍길동2',
 '나이': 40,
 'email주소': 'hgd2@naver.com',
 '취미': ['독서', '운동'],
 '결혼여부': False}

In [191]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(my_info['name'])
print(my_info['email'])

dagyeong
hdk990425@gmail.com

In [192]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
my_info['hobby'][1]

'baking'

In [193]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
my_info['weight']='secret'
my_info['height']='secret'
my_info

{'name': 'dagyeong',
 'age': 24,
 'email': 'hdk990425@gmail.com',
 'hobby': ['game', 'baking'],
 'married': False,
 'weight': 'secret',
 'height': 'secret'}

In [194]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
# del my_info
my_info.pop('age')
my_info

{'name': 'dagyeong',
 'email': 'hdk990425@gmail.com',
 'hobby': ['game', 'baking'],
 'married': False,
 'weight': 'secret',
 'height': 'secret'}

In [195]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
my_info['email'] = 'dakyoung25@naver.com'

In [196]:
my_info

{'name': 'dagyeong',
 'email': 'dakyoung25@naver.com',
 'hobby': ['game', 'baking'],
 'married': False,
 'weight': 'secret',
 'height': 'secret'}